<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<nav>
  <a routerLink="/home"><img class="homelogo" src="../assets/Untitled-1.gif"></a>
  <a routerLink="/about"><button type="button" class="btn">About</button></a>
  <a routerLink="/products"><button type="button" class="btn">Products</button></a>
  <a routerLink="/auth"><button type="button" class="btn">Admin</button></a>
</nav>

<router-outlet></router-outlet>
