h1 {
    padding: 25px;
    margin: 25px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Bowlby One', cursive;
    letter-spacing: 2px;
}

h3, p {
    font-family: 'Open Sans', sans-serif;
}

p, li {
    font-size: 1.25em;
}

.container {
    margin:5vh auto;
    padding:5vh 2vw 5vh 5vw;
    background-color: rgba(255,255,255,0.85);
}

.text {
    display: inline-block;
    width: 55%;
}

img {
    display: inline-block;
    float:right;
}