<body>
<div class="home">
<h1>Welcome to G's Garden and Trees!</h1>

<div class="container">
  <div class="text">
    <h3>Here at G's Garden and Trees, we believe in a few things!</h3>
    <ol>
      <li>Providing adequate care, love, and nurturing our plants to top health!</li>
      <li>Supplying our customers with a broad variety of inventory options!</li>
      <li>Keeping the prices low, so your garden can grow!</li>
    </ol>

    <p>
      Start your gardening experience with us! We put our customers and plants first,
      aiming to bring more greenery to your local area at the most affordable price possible!
      Established in 2019, we at G's Garden and Trees have been operating with the motto that
      everyone should be able to grow! So start your growing experience today!
    </p>
    </div>

    <img class="logo" src='./../../assets//Untitled-1.gif'>
  </div>
</div>

</body>